@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}


ul,li{
    list-style: none;
}

/* --------------- navbar start -------------- */


.navbarls{
padding: 25px ;
}
.navbar_list{
    margin-left: 130px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar_list li{
    margin-top: 7px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #272727
}

.circle{
    text-align: end;
    font-size: 20px;    
}


.fa-cart-shopping{
    margin-left: 30px;
}


/* --------------- navbar end -------------- */




/* ------------header start--------- */



header {
    background-image: url(./img/Header-background.png) ;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 170px ;
}

.header_button {
    background-color: #56B280;
    height: 40px;
    width: 310px;
    left: 565px;
    top: 496px;
    border-radius: 4px;
    padding: 5px 44px 6px 44px;
    border: none;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #fff;


}

.header_top_text span {
    display: block;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 500;

}

.design {
    margin: 170px 300px;
    background-color: #F7F8FACC;
    text-align: center;
    padding: 30px 90px 60px;


}

.header_text {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    margin: 17px 0px 40px;
}

/* ------------header end--------- */

